code {
  color: white;
}

.spectacle-content > h1 {
  margin: -60px 0 0 0;
  width: 900px;
  border: none !important;
}

h1 > div.code-note {
  text-align: left;
  padding: 6px;
  font-size: 36px;
  font-family: monospace;
  font-weight: normal;
  text-transform: none;
  white-space: normal;
  background-color: black;
}

h1 > div.code-title {
  font-family: monospace;
  font-weight: normal;
  text-transform: none;
  white-space: normal;
  width: 950px;
  border: 10px solid magenta;
}
