code {
  color: white;
}

li {
  margin: 40px 0;
}

.spectacle-content {
  top: 10px;
  position: absolute;
}

.code-slide.spectacle-content {
  top: 100px;
}

.spectacle-content > h1 {
  width: 900px;
  border: none !important;
}

h1 > div.code-note {
  text-align: left;
  margin: -100px 0 0;
  padding: 6px;
  font-size: 36px;
  font-family: monospace;
  font-weight: normal;
  text-transform: none;
  white-space: normal;
  background-color: black;
}

h1 > div.code-title {
  margin: -100px 0 0;
  font-family: monospace;
  font-weight: normal;
  text-transform: none;
  white-space: normal;
  width: 950px;
  background-color: black !important;
  border: 10px solid magenta;
}

.intro {
  position: relative;
}

li {
  text-align: left;
}

a {
  color: white;
}

.white {
  background-color: white;
}

.attribution {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: grey;
}

code,
.code {
  text-align: left;
  font-family: monospace, monospace;
}

.text {
  text-align: left;
}

.cyan {
  color: #00cccc;
}

.magenta {
  color: magenta;
}

.yellow {
  color: #cccc00;
}
