#define LED_PIN 13 // compiler directive

void setup() { // Runs once on boot
  pinMode(LED_PIN, OUTPUT);
}

void loop() { // Runs continuously
  digitalWrite(LED_PIN, HIGH); // Turn LED on
  delay(1000); // Pauses program for 1000ms
  digitalWrite(LED_PIN, LOW); // Turn LED off
  delay(1000);
}
